
<%= form_tag :action => 'login', :controller => 'login' do %>
<h1> Komodo on Rails</h1>
<%=label_tag "Enter your username:"%>
<%=text_field_tag "Username" %>
<%=label_tag "Enter your password:"%>
<%=text_field_tag "Password"%>
<%=label_tag "Enter the port number"%>
<%=text_field_tag "portnumber"%>

<%=submit_tag "Submit"%>
<%end%>



